.lilo_red {
  color: red;
  font-size: xxx-large;
  font-weight: 900;
  }
.lilo_green {
  color: green;
  font-size: xx-large;
  font-weight: 900;
  }
  .days {
    font-size: xx-large;
    font-weight: 900;
    }
    